
.propos{
    display: grid;
    width: 100%;
    min-height: 50vh;
    grid-template-columns:49% 49%;
    padding:0 4%;
    gap: 2%;
    margin-bottom: 50px;
    
}
.propos-card{
    background: var(--bg2);
    border-radius:0px 25px  0px 0px;
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.propos-card-icon{
    padding : 35px 0 0 10px;
    font-size:35px;
    text-align: center;
    color: var(--txt2);
}
.propos-card-info{
    padding: 15px;
}
.propos-card-title{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--txt2);
    text-transform: uppercase;

}
.propos-card-descp{
    padding-top: 10px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
.propos-card-descp span{
    color: var(--txt2);
    text-transform: uppercase;    
}
.propos-card-descp>ul{
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}

.Apropos>h3{
    margin-left:4vw;
    max-width: 80%;
    font-family: "Arial", sans-serif;
    font-size: calc(1.3rem + .6vw);
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100%;
}
@media (max-width:850px){
    .propos{
        display: grid;
        width: 100%;
        min-height: 50vh;
        grid-template-columns:1fr;
    }
}